
@{
    ViewBag.Title = "Customer";
}

<span>Your Requests:</span>
<div id="workArea">
    <section id="table">

    </section>
</div>

@section GetRequests
{
    <script src="@Url.Content("~/Scripts/CustomScr/Requests.js")"></script>
}